body{
    background-color:maroon;
    color:white;
}

.bread{
    background-color: bisque;
    border:1px solid tan;
    width:85%;
    max-width:415px;
    margin:auto;
    min-height:40px;
}


.top{
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}
.bottom{
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.size{
    width:80%;
    max-width:400px;
    margin:auto;
    min-height:30px;
}

.turkey{
    background-color: burlywood;
}